@model GroupGiving.Web.Models.EventPledgeViewModel
<div style="float:left;">
    <p>Signed in @Model.UserFirstName @Model.UserLastName</p>
    <p>PayPal account email address: @Html.TextBox("PayPalEmailAddress", Model.PaypalAccountEmailAddress)</p>
</div>