<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <section name="paypal" type="GroupGiving.PayPal.PayPalConfiguration, GroupGiving.PayPal" />
    </configSections>

    <paypal
      merchantUserName="seller_1304843436_biz_api1.gmail.com"
      merchantPassword="1304843443"
      merchantSignature="AFcWxV21C7fd0v3bYYYRCpSSRl31APG52hf-AmPfK7eyvf7LBc0.0sm7"
      successCallbackUrl="http://localhost:63777/Order/Success?payKey=${payKey}"
      failureCallbackUrl="http://localhost:63777/Order/Cancel?payKey=${payKey}"
      payFlowProPaymentPage="https://www.sandbox.paypal.com/webscr?cmd=_ap-payment&amp;paykey={0}" />

    <log4net>
        <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
            <file value="log.txt" />
            <appendToFile value="true" />
            <maximumFileSize value="100KB" />
            <maxSizeRollBackups value="10" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%5p [%d] - %m%n" />
            </layout>
        </appender>
        <root>
            <level value="DEBUG" />
            <appender-ref ref="RollingFile" />
        </root>
    </log4net>
</configuration>