[Bb]in/
obj/
*_ReSharper*
*.user
*.suo
*.resharper
logs/
App_Data/RavenDb
*Publish.xml
packages/Raven*/**/Data
packages/Raven*/**/*.log*
packages/Raven*/Data
packages/Raven*/*.log*
log.txt
email/
GroupGiving.Web/eventImages
*.orig
build
precompiledweb