[Bb]in/
obj/
*_ReSharper*
*.user
*.suo
*.resharper
logs/
App_Data/RavenDb
*Publish.xml
packages/RavenDB.1.0.0.371/server/Data
packages/RavenDB.1.0.0.371/server/*.log*
log.txt
email/
GroupGiving.Web/eventImages
*.orig