[Bb]in/
obj/
*_ReSharper*
*.user
*.suo
*.resharper
TicketMuffin.Web/logs/*
!TicketMuffin.Web/logs/Web.config
App_Data/RavenDb
*Publish.xml
Raven*/**/Database
packages/Raven*/**/Data
packages/Raven*/**/Logs
packages/Raven*/**/*.log*
packages/Raven*/Data
packages/Raven*/*.log*
log.txt
GroupGiving.Web/eventImages
*.orig
build
precompiledweb
TicketMuffin.Web/App_Data/email/pickup
TicketMuffin.Web/App_Data/tickets