@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot your password</h2>

@using (Html.BeginForm())
{
    <p>Don't worry, you can use this form to request a password reset.</p>
    <p>After you press the 'Send' button we will send instructions for resetting your password to the email address you provide.</p>
    
    @Html.ValidationMessage("email")<br />
    @Html.TextBox("email", null) <input type="submit" value="Send" />
}



