@{
    ViewBag.Title = "PasswordHasBeenReset";
}

<h2>PasswordHasBeenReset</h2>

<p>Your password has now been reset.</p>

<p>If you want you can now @Html.ActionLink("Sign In", "SignIn"), or just go back to the @Html.ActionLink("Home Page", "Index", "Home")</p>