@model object

<div><input type="checkbox" id="forCharity" name="forCharity" value="true"/><label for="forCharity">I am fundraising for a charity</label></div>

<div style="display:none" id="findCharity">
    <input type="text" id="charityName" name="charityName"/>
</div>
<div id="charitySearchResults"></div>