@{
    ViewBag.Title = "Sample";
    Layout = "_EditorLayout.cshtml";
}

<h2>Sample</h2>

<p>Now the EditorFor helper will use our new Html.ascx template for any fields we've specified to be HTML using the UIHint attribute. Currently our template is just a textarea with the CSS class html applied, but with a little jQuery and progressive enhancement we can improve on that.</p>

<p><strong>this should be bold</strong></p>

<p><em>this should be italics</em></p>

<h2>this should be a heading</h2>