@if(Request.IsAuthenticated) {
    <text>Welcome <strong>@User.Identity.Name</strong>!
    [ <a href="#">Sign Out</a> ]</text>
}
else {
    @:[ <a href="#">Sign In</a> ]
    @:[ <a href="#">Sign Up</a> ]
}
