<script type="text/javascript" src="/Scripts/verify-pp.js"></script>

<div id="paypal-name-container" style="display:none">
    <div><label for="pp-firstname">First name:</label><input type="text" name="pp-firstname" id="pp-firstname" /></div>
    <div><label for="pp-lastname">Last name:</label><input type="text" name="pp-lastname" id="pp-lastname" /></div>
</div>

<div id="paypal-email-container">
    <div><label for="pp-email">Email:</label><input type="text" name="pp-email" id="pp-email" /> <span id="pp-verify-result"></span></div>
    <div id="pp-verify-button-container" style="display:none;"><input type="button" id="pp-verify-button" value="Verify PayPal Account" /></div>
</div>