* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  background: url(/content/img/body_bg.jpg) top center repeat-x #ffffff;
  color: #5f5f5f;
  font-size: 14px;
  line-height: 22px;
}
img {
  border: none;
}
a {
  outline-style: none;
  text-decoration: none;
  color: #5587b6;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
p {
  padding-bottom: 15px;
}
ol, ul {
  padding: 0 0 15px 35px;
}
div#mainArea {
  width: 990px;
  margin: 0 auto;
}
a#logo {
  display: block;
  position: absolute;
  top:  15px;
  left: 0;
}
div#topArea {
  height: 83px;
  position: relative;
} 
a#fbconnect {
  display: block;
  position: absolute;
  top: 30px;
  right: 140px;
}
div#loginArea {
  position: absolute;
  top: 32px;
  right: 0;
  font-size: 12px;
  color: #e5e5e5;
}
div.clearFix {
  height: 1px;
  clear: both;
}
div#eventHead {
  height: 114px;
  position: relative;
  border-bottom: solid 1px #e5e5e5;
}
div#eventDate {
  width: 80px;
  height: 77px;
  background: url(/content/img/date.png);
  position: absolute;
  top: 20px;
  left: 0;
  text-align: center;
}
div#month {
  color: #ffffff;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 30px;  
  font-weight: bold; 
}
div#day {
  font-weight: bold; 
  font-size: 30px;
  line-height: 38px; 
}
div#eventName {
  font-weight: bold;
  position: absolute;
  left: 100px;
  top: 35px;
  font-size: 28px;
}
h1 {
  font-size: 28px;
}
div#eventDetails {
  position: absolute;
  top: 60px;
  left: 100px;
}
div#howItWorks {
  position: absolute;
  right: 0;
  font-size: 12px;
  font-weight: bold;
  padding-right: 25px;
  top: 45px;
  background: url(/content/img/howItWorks.png) top right no-repeat;
}
div#eventLeft {
  width: 280px;
  float: left;
}
div#eventRight {
  width: 680px;
  float: left;
  padding-left: 30px;
}
input[type="submit"], a.bigButton {
  border: none;
  font-family: Arial, sans-serif;
  color: #ffffff;
  background: url(/content/img/button_bg.jpg) center center repeat-x;  
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  cursor: pointer;
  padding:6px;
  font-size:16pt;
}
a.bigButton
{
    padding: 12px !important;
    display: inline-block;
}
input[type="submit"]:hover {
  opacity: 0.8;
}
div#pledge {
  padding: 30px 0;
}
input.bigButton {
  width: 280px;
  height: 65px;
  line-height: 65px;
  font-weight: bold;
  font-size: 30px;
}
input.blueButton {
  width: 280px;
  height: 49px;
  line-height: 49px;
  font-weight: bold;
  font-size: 20px;
  background: url(/content/img/blueButton.png) center center repeat-x;
}
input.smallButton {
  width: 240px;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  font-size: 18px;
}
div#pledgeInfo {
 background: url("/content/img/pledgeInfo_bg.jpg") repeat-x scroll center top #86B8E9;
    padding: 25px 20px 10px;
    position: relative;
}
div#pledgeInfo div#count {
    color: #FFFFFF;
    float: left;
    font-size: 40px;
    font-weight: bold;
}
div#pledgeInfo div#countInfo {
    color: #292929;
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 14px;
    width:140px;
    margin-left:3px;
}
div#countBar {
  height: 16px;
  background: url(/content/img/countBar.png) center left no-repeat #4c79a3;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 1px;
  margin-top:30px;
}
div#barProgress {
  height: 16px;
  background: url(/content/img/barProgress.png) center left no-repeat;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
div#peopleInfo {
  color: #292929;
  font-size: 12px;
  line-height: 12px; 
  padding: 5px 0 20px 0;
}
div.timeBox {
  width: 50px;
  float: left;
  text-align: center;
}
div.timeBox + div.timeBox {
  margin-left: 13px;
}
div.timeBox div.name {
  color: #ffffff;
  font-size: 11px;  
  line-height: 12px;
}
div.timeBox div.number {
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  background: url(/content/img/number.png) center center repeat-x;
  line-height: 50px;
  color: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
div#timeLeft {
  text-align: center;
  color: #292929;
}
div#shareBox {
  background: #e0e0e0;
  padding: 10px 20px;
  text-align: center; 
  color: #292929; 
}
h2 {
  font-size: 22px;
  padding: 20px 0;
}
div.eventBox {
  border: solid 1px #e5e5e5;
  margin-bottom: 20px;
}
div.eventBoxTop {
  background: #eeeeee;
  padding: 10px 20px;
  border-bottom: solid 1px #e5e5e5;
  font-weight: bold;
  font-size: 18px;
  color: #6f9ac4;
}
div.eventBoxBottom {
  padding: 10px 20px;
  line-height: 16px;
}
div#eventDesc {
  padding-top: 30px;
  text-align: justify;
}
div#eventImage {
  height: 352px;
  margin-bottom: 20px;
  position: relative;
}
div#imageInfo {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  background: url(/content/img/transparency.png);
  text-align: right;
  font-weight: bold;
  color: #c5cb19;
  font-size: 24px;
  width: 320px;
}
div#footerArea {
  background: url(/content/img/footerArea_bg.png) top center repeat-x;
  height: 80px;
  line-height: 35px;
  font-size: 12px;
  width: 100%;
  margin-top: 30px;
}
div#footerAreaInner {
  width: 990px;
  margin: 0 auto;
}
div.left {
  float: left;
}
div.right {
  float: right;
  text-align: right;
}
div#location {
  margin-bottom: 10px;
  margin-top: 10px;
}
div#orderPage, div#confirmPage {
  padding: 30px 0;
}
div.grayBox {
  background: #f3f3f3;
  border: solid 1px #e6e6e6;
  padding: 20px;
  margin-top: 30px;
  border-radius: 6px;
  -moz-border-radius: 6px;
}
input[type="text"], input[type="password"], textarea, select {
  border: solid 1px #e6e6e6;
  padding: 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #5f5f5f;
  width:300px;
}
input[type="checkbox"] {
  margin-right: 10px;
}
input.short, select.short {
  width: 80px;
}
select.mid
{
    width: 160px;  
}
div#confirmPageEvenInfo {
  border: solid 1px #e5e5e5;
  background: #f3f3f3;
  padding: 10px 20px;
  float: right;
  width: 300px;
  position: relative;
}
div#confirmPageEvenInfo div#eventDate {
  position: static;
  float: left;
  margin: 0 10px 0 0;
}
div.validation-summary-errors, .field-validation-error
{
color:Red;
}

label
{
display: inline-block; 
width: 150px;
}
input.single-line
{
width: 300px;
}
div#ui-datepicker-div
{
    width:264px;
}
.field-validation-error
{
    display:block;
    margin-left:205px;
}
.formline
{
    padding-bottom: 10px;
}
.formline label
{
    width:200px;
    display:inline-block;
}

label, .wholeline label {
    width: 400px;   
}

.infobox {
    position: absolute;
    width: 100%;
    padding: 0px;
    
    z-index: 999;
    top: 0;
    
    color: #5587B6;
    font-weight: bold;
    outline-style: none;
    text-decoration: none;
}
.infobox_inner
{
    border-radius: 8px;
    -moz-border-radius: 8px;
    
    background-color: #F3F3F3;
    border: 2px solid #5587B6;
    border-radius: 8px 8px 8px 8px;
}
.infobox .infobox_inner span {
    margin: 8px;
    text-align: center;
}
.infobox .infobox_inner a.close
{
    bottom: 4px;
    float: right;
    position: relative;
    right: 4px;
}

.url-available
{
    color: lime;
    font-size: 1.2em;
}

.url-not-available
{
    color: red;
    font-size: 1.2em;
<<<<<<< Updated upstream
=======
}

#popup-signIn
{
  background-color: white;
    border: 2px solid #5587B6;
    border-radius: 4px 4px 4px 4px;
    color: #5587B6;
    margin: 3px;
    padding: 6px;
    position: absolute;
    right: 0;
    width: 333px;
}

#popup-signIn input
{
    margin-bottom: 6px;
}

.pp-verified, .pp-notfound, .pp-unverified
{
    padding-left: 80px;
    height: 70px;
    line-height: 66px;
    vertical-align:middle;
    margin-top: 8px;
    margin-bottom: 8px;
}
.pp-verified
{
    background: url('/content/images/tick.png') no-repeat;
    color: lime;
}
.pp-unverified
{
    color: orange;
}
.pp-notfound
{
    background: url('/content/images/cross.png') no-repeat;
    color: red;
}

.pp-checking
{
    background: url('/content/images/ajax-loader.gif') no-repeat;
    color: #5587B6;
    height: 31px;
    line-height: 31px;
    padding-left: 35px;
    vertical-align:middle;
    margin-top: 8px;
    margin-bottom: 8px;
}

.twocol
{
    float: left;
    width: 480px;
    padding: 4px;
    margin: 0;
    border: 0;
}

.threecol
 {
    float: left;
    width: 272px;
    padding: 4px;
    margin: 4px;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 110px;
}
.clear {
    clear: both;
}
.centered, .centered p {
    text-align: center;
    height: auto;
>>>>>>> Stashed changes
}