@{
    ViewBag.Title = "PaymentRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://www.paypalobjects.com/js/external/dg.js"></script>

<h2>PaymentRequest</h2>
<p>You're about to make a PayPal purchase for a $100.00 ticket through the sandbox site</p>
<p>Use the following credentials:</p>
<p>Email: buyer1_1304843364_per@gmail.com</p>
<p>Password: lilacwine</p>

@Html.ActionLink("Pay on PayPal", "StartRequest")
