<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


    <appSettings xdt:Transform="Replace">
        <add key="DataConnectionString" value="UseDevelopmentStorage=true" />
        <add key="SiteAbsolutePath" value="http://www.ticketmuffin.com"/>
        <!--<Setting name="DataConnectionString" value="DefaultEndpointsProtocol=https;AccountName={{Azure storage account name}};AccountKey={{Azure storage shared key}}" />-->
        <add key="webpages:Version" value="1.0.0.0" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="EventImagePathFormat" value="c:\inetpub\wwwroot\TicketMuffin.Data\EventImages\{0}\eventImage.jpg"/>
        <!-- sandbox -->
        <!-- live -->
        <!--<add key="PayFlowProPaymentPage" value="https://paypal.com/webapps/adaptivepayment/flow/pay" /> -->
        <add key="loginUrl" value="~/signin" />
        <add key="RavenDbStoragePath" value="http://localhost:8080" />
        <add key="RouteDebugger:Enabled" value="false" />
        <add key="JustGivingApiKey" value="d0032bfe"/>
        <add key="JustGivingApiDomainBase" value="https://api.staging.justgiving.com/"/>
        <add key="JustGivingApiVersion" value="1"/>
        <add key="buildRavenIndexesOnStartup" value="true"/>
        <add key="warmupUrl" value="http://www.ticketmuffin.com"/>
    </appSettings>    

    <emailProcessing xdt:Transform="Replace"
      pickupLocation="C:\inetpub\wwwroot\EmailProcessing\pickup"
      failedLocation="C:\inetpub\wwwroot\EmailProcessing\failed"
      deliveredLocation="C:\inetpub\wwwroot\EmailProcessing\delivered"
      templateLocation="C:\inetpub\wwwroot\GroupGiving\Content\emailTemplates"
	  senderType="EmailProcessing.PickupDirectoryEmailSender, EmailProcessing, Culture=neutral">
    </emailProcessing>

    <emailBuilder xdt:Transform="Replace" 
                  pickupLocation="C:\inetpub\wwwroot\EmailProcessing\pickup"
				  senderType="EmailProcessing.FileSystemEmailPackageRelayer, EmailProcessing"
                templateLocation="~/content/emailtemplates">
    </emailBuilder>

    <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>