@{
    ViewBag.Title = "TicketMuffin Administration";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>TicketMuffin Administration</h2>

<ul>
<li>@Html.ActionLink("User management", "Index", "UserManagement")</li>
<li>@Html.ActionLink("Event management", "Index", "EventManagement")</li>
<li>@Html.ActionLink("Charities", "Index", "CharityManagement")</li>
<li>@Html.ActionLink("Site configuration", "Index", "SiteConfiguration")</li>
</ul>