@using GroupGiving.Web.Code
@model GroupGiving.Web.Models.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

@section scripts {
<script type="text/javascript" src="/scripts/jquery.expander.js"></script>
<script type="text/javascript" src="/scripts/home.js"></script>
}

<h2>@Html.Content("homepage", "heading")</h2>

@foreach(var e in Model.Events)
{
    <p>@Html.ActionLink(e.Title, "Index", "Event", new { shortUrl= e.ShortUrl }, null) @e.City <text>20 June, 2011</text></p>
    <p class="expandable">@e.Description</p>
}


