@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
<li>@Html.ActionLink("User management", "Index", "UserManagement")</li>
<li>@Html.ActionLink("Event management", "Index", "EventManagement")</li>
</ul>