@{
    ViewBag.Title = "Account - TicketMuffin";
}

<h2>Your Account - Overview</h2>

<ul>
    <li>@Html.ActionLink("Update your personal details", "ContactDetails", "Account")</li>
    <li>@Html.ActionLink("Change your password", "ChangePassword", "Account")</li>
    <li>@Html.ActionLink("Manage PayPal settings", "PayPalSettings", "Account")</li>
    <li>@Html.ActionLink("View your events", "YourEvents", "Account")</li>
</ul>


