@model GroupGiving.Web.Models.EventViewModel

<div class="eventBoxTop">Organiser</div>

            <div class="eventBoxBottom">
              <strong>@Model.ContactName</strong><br /><br />   
              <input type="submit" class="smallButton" value="Contact" />
            </div>