@using GroupGiving.Web.Controllers
@using GroupGiving.Web.Models
@model EventCancelledViewModel

@{
    ViewBag.Title = "title";
}

<h2>The event was cancelled</h2>

@if (Model.Failures)
{
    <p>There were some errors</p>
}
