<div style="float:left;">
<h2>Personal Details</h2>
<div>
<div>Sign Up</div>
<div>First Name: <input type="text" name="firstName" /></div>
<div>Last Name: <input type="text" name="lastName" /></div>
<div>Email: <input type="text" name="email" /></div>
<div>Password: <input type="text" name="password" /></div>
<div>Confirm Password: <input type="text" name="confirmPassword" /></div>
</div>
</div>

<div style="float:left">
<div>Sign In</div>
<div>Email address: <input type="text" name="emailAddress" /></div>
<div>Password: <input type="password" name="password" /></div>
</div>
