@model dynamic

@{
    ViewBag.Title = "Pledges";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Search", "Pledge", FormMethod.Get))
{
    <fieldset>
        <h2>Find Pledges</h2>
        <input type="text" name="q" />
        <em>Search by transaction id, paypal paykey, name etc</em>
        <button type="submit">Search</button>
    </fieldset>
}